.sprite {
  background: url( '../../assets/images/sprites/icon-sprite.png' ) no-repeat;
  background-size: 630px 594px;
}

.sprite.tech-jasmine {
  width: 90px;
  height: 54px;
  background-position: 0px 0px;
}

.sprite.brand-fpo-0 {
  width: 90px;
  height: 54px;
  background-position: -90px 0px;
}

.sprite.brand-fpo-2 {
  width: 90px;
  height: 54px;
  background-position: 0px -54px;
}

.sprite.brand-fpo-3 {
  width: 90px;
  height: 54px;
  background-position: -90px -54px;
}

.sprite.brand-fpo-4 {
  width: 90px;
  height: 54px;
  background-position: 0px -108px;
}

.sprite.brand-fpo-5 {
  width: 90px;
  height: 54px;
  background-position: -90px -108px;
}

.sprite.brand-fpo-6 {
  width: 90px;
  height: 54px;
  background-position: -180px 0px;
}

.sprite.brand-fpo-7 {
  width: 90px;
  height: 54px;
  background-position: -180px -54px;
}

.sprite.brand-fpo-8 {
  width: 90px;
  height: 54px;
  background-position: -180px -108px;
}

.sprite.brand-fpo-9 {
  width: 90px;
  height: 54px;
  background-position: 0px -162px;
}

.sprite.recog-fpo-0 {
  width: 90px;
  height: 54px;
  background-position: -90px -162px;
}

.sprite.recog-fpo-1 {
  width: 90px;
  height: 54px;
  background-position: -180px -162px;
}

.sprite.recog-fpo-2 {
  width: 90px;
  height: 54px;
  background-position: 0px -216px;
}

.sprite.recog-fpo-3 {
  width: 90px;
  height: 54px;
  background-position: -90px -216px;
}

.sprite.recog-fpo-4 {
  width: 90px;
  height: 54px;
  background-position: -180px -216px;
}

.sprite.recog-fpo-5 {
  width: 90px;
  height: 54px;
  background-position: -270px 0px;
}

.sprite.recog-fpo-6 {
  width: 90px;
  height: 54px;
  background-position: -270px -54px;
}

.sprite.recog-fpo-7 {
  width: 90px;
  height: 54px;
  background-position: -270px -108px;
}

.sprite.recog-fpo-8 {
  width: 90px;
  height: 54px;
  background-position: -270px -162px;
}

.sprite.recog-fpo-9 {
  width: 90px;
  height: 54px;
  background-position: -270px -216px;
}

.sprite.tech-analytics {
  width: 90px;
  height: 54px;
  background-position: 0px -270px;
}

.sprite.tech-angular {
  width: 90px;
  height: 54px;
  background-position: -90px -270px;
}

.sprite.tech-assemble {
  width: 90px;
  height: 54px;
  background-position: -180px -270px;
}

.sprite.tech-backbone {
  width: 90px;
  height: 54px;
  background-position: -270px -270px;
}

.sprite.tech-bootstrap {
  width: 90px;
  height: 54px;
  background-position: -360px 0px;
}

.sprite.tech-bower {
  width: 90px;
  height: 54px;
  background-position: -360px -54px;
}

.sprite.tech-browserstack {
  width: 90px;
  height: 54px;
  background-position: -360px -108px;
}

.sprite.tech-coffeescript {
  width: 90px;
  height: 54px;
  background-position: -360px -162px;
}

.sprite.tech-css3 {
  width: 90px;
  height: 54px;
  background-position: -360px -216px;
}

.sprite.tech-flash {
  width: 90px;
  height: 54px;
  background-position: -360px -270px;
}

.sprite.tech-gaia {
  width: 90px;
  height: 54px;
  background-position: 0px -324px;
}

.sprite.tech-git {
  width: 90px;
  height: 54px;
  background-position: -90px -324px;
}

.sprite.tech-github {
  width: 90px;
  height: 54px;
  background-position: -180px -324px;
}

.sprite.tech-grunt {
  width: 90px;
  height: 54px;
  background-position: -270px -324px;
}

.sprite.tech-html5 {
  width: 90px;
  height: 54px;
  background-position: -360px -324px;
}

.sprite.tech-intellij {
  width: 90px;
  height: 54px;
  background-position: 0px -378px;
}

.sprite.tech-ios {
  width: 90px;
  height: 54px;
  background-position: -90px -378px;
}

.sprite.brand-fpo-1 {
  width: 90px;
  height: 54px;
  background-position: -180px -378px;
}

.sprite.tech-jenkins {
  width: 90px;
  height: 54px;
  background-position: -270px -378px;
}

.sprite.tech-jquery-ui {
  width: 90px;
  height: 54px;
  background-position: -360px -378px;
}

.sprite.tech-jquery {
  width: 90px;
  height: 54px;
  background-position: -450px 0px;
}

.sprite.tech-js {
  width: 90px;
  height: 54px;
  background-position: -450px -54px;
}

.sprite.tech-jshint {
  width: 90px;
  height: 54px;
  background-position: -450px -108px;
}

.sprite.tech-karma {
  width: 90px;
  height: 54px;
  background-position: -450px -162px;
}

.sprite.tech-modernizr {
  width: 90px;
  height: 54px;
  background-position: -450px -216px;
}

.sprite.tech-ms-azure {
  width: 90px;
  height: 54px;
  background-position: -450px -270px;
}

.sprite.tech-mssql {
  width: 90px;
  height: 54px;
  background-position: -450px -324px;
}

.sprite.tech-net {
  width: 90px;
  height: 54px;
  background-position: -450px -378px;
}

.sprite.tech-nodejs {
  width: 90px;
  height: 54px;
  background-position: 0px -432px;
}

.sprite.tech-npm {
  width: 90px;
  height: 54px;
  background-position: -90px -432px;
}

.sprite.tech-photoshop {
  width: 90px;
  height: 54px;
  background-position: -180px -432px;
}

.sprite.tech-php {
  width: 90px;
  height: 54px;
  background-position: -270px -432px;
}

.sprite.tech-pingdom {
  width: 90px;
  height: 54px;
  background-position: -360px -432px;
}

.sprite.tech-protractor {
  width: 90px;
  height: 54px;
  background-position: -450px -432px;
}

.sprite.tech-raphael {
  width: 90px;
  height: 54px;
  background-position: 0px -486px;
}

.sprite.tech-require {
  width: 90px;
  height: 54px;
  background-position: -90px -486px;
}

.sprite.tech-responsive {
  width: 90px;
  height: 54px;
  background-position: -180px -486px;
}

.sprite.tech-ror {
  width: 90px;
  height: 54px;
  background-position: -270px -486px;
}

.sprite.tech-ruby {
  width: 90px;
  height: 54px;
  background-position: -360px -486px;
}

.sprite.tech-sass {
  width: 90px;
  height: 54px;
  background-position: -450px -486px;
}

.sprite.tech-saucelabs {
  width: 90px;
  height: 54px;
  background-position: -540px 0px;
}

.sprite.tech-screenflow {
  width: 90px;
  height: 54px;
  background-position: -540px -54px;
}

.sprite.tech-selenium {
  width: 90px;
  height: 54px;
  background-position: -540px -108px;
}

.sprite.tech-sublime {
  width: 90px;
  height: 54px;
  background-position: -540px -162px;
}

.sprite.tech-svn {
  width: 90px;
  height: 54px;
  background-position: -540px -216px;
}

.sprite.tech-teamwork {
  width: 90px;
  height: 54px;
  background-position: -540px -270px;
}

.sprite.tech-testacular {
  width: 90px;
  height: 54px;
  background-position: -540px -324px;
}

.sprite.tech-tomcat {
  width: 90px;
  height: 54px;
  background-position: -540px -378px;
}

.sprite.tech-travis {
  width: 90px;
  height: 54px;
  background-position: -540px -432px;
}

.sprite.tech-typekit {
  width: 90px;
  height: 54px;
  background-position: -540px -486px;
}

.sprite.tech-visualstudio {
  width: 90px;
  height: 54px;
  background-position: 0px -540px;
}

.sprite.tech-webstorm {
  width: 90px;
  height: 54px;
  background-position: -90px -540px;
}

.sprite.tech-wp {
  width: 90px;
  height: 54px;
  background-position: -180px -540px;
}

.sprite.tech-yeoman {
  width: 90px;
  height: 54px;
  background-position: -270px -540px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.sprite {
  background: url( '../../assets/images/sprites/icon-sprite__2x.png' ) no-repeat;
  background-size: 630px 594px;
}

}
