<section role="about" class="container">

  <hr class="accent"/>
  <a id="about" class="anchor"></a>

  <div class="bio" xng-controller="AboutCtrl">
    <h3 class="header">About</h3>


    <div class="content">
      <h4 class="subheader"><i class="fa fa-male"></i>
        Title
      </h4>
      <div class="subcontent">
{{#markdown}}
  Lorem [ipsum dolor][^google] sit amet, consectetur adipiscing elit. Morbi non metus eget massa ornare pretium at ut lorem.

  Morbi accumsan turpis non tortor dictum aliquam.

  Maecenas id mi risus. Sed eu dui vitae ligula efficitur interdum et vel leo. Quisque ultricies libero a suscipit varius. Aenean at est rutrum, interdum massa non, ullamcorper felis. Quisque semper eget nunc in sodales.

[^google]: http://www.google.com/

{{/markdown}}
      </div>
      <h4 class="subheader"><i class="fa fa-key"></i>
        Milestones
      </h4>

      <div class="subcontent">
{{#markdown}}
  Nunc in suscipit elit. Proin eu dolor pharetra ex bibendum venenatis non in erat. Integer nec hendrerit lacus, sit amet sagittis lectus.

  Ut luctus orci eu eros facilisis condimentum. Morbi tempus sagittis lectus, malesuada cursus tellus. Proin nisi nisi, pharetra vel arcu ut, pharetra sollicitudin lorem. Fusce tincidunt ante id est imperdiet,

  Ac eleifend mauris finibus. Quisque tristique rhoncus nulla, nec commodo mi auctor n

{{/markdown}}
      </div>
    </div>
    <div class="content">
      <h4 class="subheader">
        <i class="fa fa-shield"></i>
        Education
      </h4>
      <div class="subcontent">
{{#markdown}}
__University of Lorem Ipsum__<br/>
BS, Dolor Set<br/>
1921-1925
{{/markdown}}
      </div>
      <h4 class="subheader">
        <i class="fa fa-leaf"></i>
        Reflections
      </h4>
      <div class="subcontent">
{{#markdown}}
Nunc in suscipit elit. Proin eu dolor pharetra ex bibendum venenatis non in erat. Integer nec hendrerit lacus, sit amet sagittis lectus.

Ut luctus orci eu eros facilisis condimentum. Morbi tempus sagittis lectus, malesuada cursus tellus. Proin nisi nisi, pharetra vel arcu ut, pharetra sollicitudin lorem. Fusce tincidunt ante id est imperdiet, ac eleifend mauris finibus. Quisque tristique rhoncus nulla, nec commodo mi auctor n
{{/markdown}}
      </div>
      <h4 class="subheader">
        <i class="fa fa-heart"></i>
        Interests
      </h4>
      <div class="subcontent">
{{#markdown}}
Nunc in suscipit elit. Proin eu dolor pharetra ex bibendum venenatis non in erat. Integer nec hendrerit lacus, sit amet sagittis lectus. Ut luctus orci eu eros facilisis condimentum. Morbi tempus sagittis lectus, malesuada cursus tellus. Proin nisi nisi, pharetra vel arcu ut, pharetra sollicitudin lorem. Fusce tincidunt ante id est imperdiet, ac eleifend mauris finibus. Quisque tristique rhoncus nulla, nec commodo mi auctor n
{{/markdown}}
      </div>


    </div>

  </div>

  <div class="content-section">
    <!-- BEGIN WORK EXPERIENCE-->

    <div class="content">{{>work_experience}}</div>

    <!-- END WORK EXPERIENCE-->
  </div>

</section>
