<hr class="accent"/>
<section role="contact" class="container">

  <a id="contact" class="anchor"></a>

  <div class="content-section">
    <div class="content">
      <h3>Contact</h3>

      <div class="info">
        <div class="info-content">
          <p>
            {{>social_media}}
          </p>



          {{!--
          <div class="well">
            <h4 class="title">Please Notice</h4>
{{#markdown}}
- I love hearing from people and connecting, so please shout out!
- I am currently not looking for work, speaking, or writing engagements. But I may be one day...
- Humbly, I receive [more requests][^demand] than I can take on. I apologize in advance if I can't help out on your amazing project. <i class='fa fa-lg fa-meh-o'></i>

[^demand]: http://articles.chicagotribune.com/2010-10-17/business/ct-biz-1017-out-technology-20101017_1_software-engineers-chicago-developers-tech-jobs

{{/markdown}}



</div>
          --}}
{{#markdown}}
  Thank you for your time. =]
{{/markdown}}
        </div>
      </div>
    </div>
  </div>
</section>
