<a id="home" class="anchor top">&nbsp;</a>
<section role="intro" class="container">
  <div class="banner-wrap">
    <div class="banner-body">
      <div class="profile-pic-wrapper"><img src="{{settings.PORTFOLIO_PROFILE_IMAGE}}" alt="{{settings.PORTFOLIO_SITE_OWNER}}" class="profile-pic"/></div>
    </div>

  </div>
  {{>social_media}}

</section>
