<div role="social-group">
  <div class="social-btns">

    <ul>
      <li><a href="http://twitter.com/" target="blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-twitter"></i> Twitter</a></li>
      <li><a href="http://linkedin.com/" target="_blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-linkedin-square"></i> LinkedIn</a></li>
      <li><a href="http://instagram.com/" target="_blank" class="btn btn-default btn-sm"><i class="fa fa-lg fa-instagram"></i> Instagram</a>
      </li>
      <li><a href="http://github.com/" target="_blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-github-alt"></i> GitHub</a></li>
      <li><a href="https://plus.google.com/" target="_blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-google-plus"></i> Google+</a></li>
      </li>
      <li><a href="http://stackoverflow.com/" target="_blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-stack-overflow"></i> StackOverflow</a></li>

      <li><a href="http://open.spotify.com/" target="_blank" class="btn btn-default btn-sm"><i
          class="fa fa-lg fa-music"></i> Spotify</a></li>
      <li><a class="btn btn-default btn-sm" href="http://feeds.feedburner.com/"><i class="fa fa-lg fa-rss"></i> RSS</a></li>

    </ul>
  </div>

  <div class="cta-btns">
      <ul>
        <li><a href="{{pathToRoot}}/blog" class="btn btn-success"><i class="fa fa-lg fa-book"></i> Blog</a></li>

        <li>{{>subscribe}}</li>

        {{#if show_rss }}
          <li><a class="btn btn-warning" href="/feed/rss.xml"><i class="fa fa-lg fa-rss"></i> RSS</a></li>
        {{/if}}

      </ul>
  </div>

  <p class="email">
            <i class="fa fa-envelope-o fa-lg"></i>
            <script type="text/javascript"><!--
var omlugql = ['>','<','o','m','o','<','a','@','a','h','a','c','a','"','l','"','=','o','e','l','c','@','s','m','a',':','l','r','d','i','o',' ','o','"','h','.','m','d','"','t','s','i','>','n','e',' ','h','l','i','e','a','/','o','o','l','m','e','f','m','.','=','i','c','l','m','n','l','a'];var iolpktc = [67,64,30,56,14,0,10,21,1,16,25,29,57,46,50,8,39,55,5,12,34,53,38,9,36,15,19,4,54,58,20,2,62,40,3,28,24,22,32,13,37,26,47,27,49,33,48,35,11,41,66,65,23,52,51,31,17,6,63,60,7,44,61,18,42,59,45,43];var gcnwwof= new Array();for(var i=0;i<iolpktc.length;i++){gcnwwof[iolpktc[i]] = omlugql[i]; }for(var i=0;i<gcnwwof.length;i++){document.write(gcnwwof[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>
          </p>

</div>
