<!--[if lt IE 9]>
<div class="browser-upgrade-alert">
  <div class="alert alert-danger">
    You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.
    </div>
</div>
<![endif]-->

<noscript>
  <div class="browser-upgrade-alert">
    <div class="alert alert-danger">
    <strong>Please enable Javascript.</strong> This website will not function properly without it.
    </div>
  </div>
</noscript>
