<div class="detail-post-meta">
  <span class="detail-read-time"><i class="fa fa-bookmark"></i> <span class="label-reading-time"> read</span></span>
  <span class="detail-timestamp"><i class="fa fa-calendar"></i> <span><time pubdate="date">{{moment date format = "YYYY MMMM Do" }}</time></span></span>
  {{!<span class="detail-views"><i class="fa fa-eye"></i> <span class='count'>&hellip;</span> views</span>}}

  {{!>post_share_group}}

</div>
