<div class="post-footer sectionSplitter">
	<!--<h4>Credits</h4>-->
	<p class="image-rights">
		<em>
		{{{settings.PORTFOLIO_BLOG_COPYRIGHT}}}
		{{#if image-credits}}<br/>{{{image-credits}}}{{/if}}
		</em>
	</p>

</div>
